<style>
div#thediv {
  width:63.2%;
  margin:auto;
}
div#controls {
  width:20%;
  margin:auto;
  height:80px;
}
svg {
  border:1px solid black;
  background-color:#c4cee9;
  padding:50px;
}

</style>

<script>
$(function() {

  // ----------------------------------
  // data -----------------------------


  // ----------------------------------
  // surface --------------------------

  var svg =  d3.select('#thediv')
                .append('svg')
                .attr('width', 800)
                .attr('height', 800);

  var app = bds.make_app(svg).draw_controls($('#controls'));
});


</script>

<div id="next_steps">
  next: find the right way to pass data to the circles from the db 
  to connect them to their models
</div>
<p>
<div id="controls" >
</div>
</p>
<p>
<div id="thediv">
</div>
</p>
