<style>
div#svg_container {
  width:63.2%;
  margin:auto;
  margin-top:30px;
}

div#stage {
  display:none;
  width:63.2%;
  margin:auto;
  margin-top:30px;
}

div#actions {
  width:40%;
  margin:auto;
  height:80px;
}

svg {
  border:1px solid black;
  background-color:#c4cee9;
  padding:50px;
}

#dice, #roller, #start, #go {
  width:120px;
  height:80px;
}

div.bds_button {
  width: 100px;
  height: 75px;
  padding: 4px;
}

div.bds_button.on {
  background-color: yellow;
  border: none;
}

div.bds_button.off {
  background-color:silver;
}
</style>

<script>
function start_bds() {

  var svg =  d3.select('#svg_container')
                .append('svg')
                .attr('width', 900)
                .attr('height', 900);

    // TODO: just have the bds javascript generate all of the controls dynamically - don't pass the divs
    d3.json('/stage_data', function(error, root) {
      // TODO: just pass in the ids of the control containers in the optoin hash
      // TODO: make this a jQuery plugin

      if (typeof(Storage) === 'undefined')
        alert('This application requires HTML5 support.  Please use a different browser.');

        resume_bds( svg, root, {fresh: true});

    });

}

function resume_bds( svg, json, options, callback ) {
  var callback = callback || bds.noop,
      options = options || {};

  bds.app = bds.make_app(svg, json, { 
            content: '#content',
            svg_container: '#svg_container',
            fresh: options.fresh,
            stage: options.stage
          });

  callback();
}

$(function() {
  start_bds();  
});

</script>

<div id="content">
  <div id="svg_container"></div>
</div>
