<style>
div#thediv {
  width:63.2%;
  margin:auto;
  margin-top:30px;
}

div#stage {
  display:none;
  width:63.2%;
  margin:auto;
  margin-top:30px;
}

div#controls {
  width:20%;
  margin:auto;
  height:80px;
}
svg {
  border:1px solid black;
  background-color:#c4cee9;
  padding:50px;
}

#die, #roller, #start, #move {
  width:120px;
  height:80px;
}

div.bds_button {
  width: 100px;
  height: 75px;
  padding: 4px;
}

div.bds_button.on {
  background-color: yellow;
  border: none;
}

div.bds_button.off {
  background-color:silver;
}
</style>

<script>
function start_bds(first_time, callback) {
  var callback = callback || bds.noop;

  var svg =  d3.select('#thediv')
                .append('svg')
                .attr('width', 900)
                .attr('height', 900);

    d3.json('/stage_data', function(error, root) {
      // TODO: just pass in the ids of the control containers in the optoin hash
      bds.app = bds.make_app(svg, root, { 
                fresh: first_time,
                die: '#die',
                start: '#start',
                move: '#move',
                roller: '#roller',
                score: '#score' 
              });

      if (typeof(Storage) === 'undefined')
        alert('This application requires HTML5 support.  Please use a different browser.');

      callback();
    });

}

$(function() {
  start_bds(true);  
});

</script>

<p>
<div id="controls" >
  <table id="main">
    <tr>
      <td>
        <div id="start" />
      </td>
      <td>
        <div id="roller" />
      </td>
      <td>
        <div id="die" />
      </td>
      <td>
        <div id="move" />
      </td>
      <td>
        <div id="score" />
      </td>
    </tr>
  </table>
</div>
</p>
<p>
<div id="thediv">
</div>
<div id="stage">
</div>
</p>
