<h2> links </h2>
<p>
  <ul>
    <li><%= link_to "boxes", boxes_path %></li>
    <li><%= link_to "board", board_path %></li>
    <li><%= link_to "svg", svg_path %></li> 
    <li><%= link_to "svg2", svg2_path %></li> 
  </ul>
</p>

