<!-- TODO: this either needs to be wired up to pub/sub events, or leverage a binding framework like knockout.js -->

<div id="players" style="display:none"></div>

<script>
$(function() {

  bds.scoreTable = bds.makeScoreTable('#players');
  bds.scoreTable.draw();

});
</script>
