/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ../../../vendor/assets/stylesheets
 *= require_tree .
 */

body {
  padding:0;
  margin:0;
}

#container {
  width:100%
  padding-left:80px;
  margin-left:80px;
  margin-top:80px;
}

/* form elements */
div.validation-error {
  color: red;
}

/* game board elements */

div.back_to_board.hidden {
  display:none;
}

div.back_to_board.visible {
  display:block;
}

h { 
  font-family:helvetica, verdana;
}

p {
  font-family: helvetica, verdana;
  font-size:14px;
}

div.explanation {
  display:none;
  padding:20px;
  width:600px;
  border:1px dashed black;
  background-color:#0099ff;
}

img.featured {
  float:right;
  clear:right;
  padding:20px;
}
