// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#gameboard {
  width:1200px;
  border:1px solid black;
  padding:4px;
}

.info_button {
  font-size:10pt;
  background-color:#efa343;
  color:white;
  width:50%;
  margin:auto;
}

.box {
    display:inline-block;
    border:1px dashed black;
    width:200px;
    height:200px;
  }

